.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
/.idea/

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/infrastructure/.terraform/
/infrastructure/docker-compose-logs/
/infrastructure/.terraform.lock.hcl
/.terraform.lock.hcl
/.terraform.tfstate.lock.info
/terraform.tfstate
/tf-plan-dev
/infrastructure/terraform/.terraform.lock.hcl
/infrastructure/terraform/tf_plan
/infrastructure/terraform/.terraform/
/infrastructure/.terraform.tfstate.lock.info
/infrastructure/tf-plan-dev
/infrastructure/terraform.tfstate
/infrastructure/terraform.tfstate.backup
/docker-compose-logs/
/https-proxy/nginx/etc/ssl/certs/nginx-selfsigned.crt
/https-proxy/nginx/etc/ssl/certs/dhparam.pem
/https-proxy/nginx/etc/ssl/private/nginx-selfsigned.key
/auth0/certs/
/webapp/web-ui/src/config/auth_config.json
/webapp/web-ui/public/data.json
/webapp/web-ui/.env
